Source: wallpaperdownloader
Section: misc
Priority: optional
Maintainer: Eloy García Almadén <eloy.garcia.pca@gmail.com>
Uploaders: Eloy García Almadén <eloy.garcia.pca@gmail.com>
Build-Depends: debhelper (>= 10), default-jdk, maven-debian-helper (>= 2.1)
Build-Depends-Indep: libcommons-io-java, libjna-java, libjsoup-java, liblog4j1.2-java (>= 1.2.14),  
 libslf4j-java, junit (>= 3.8.1) 
Standards-Version: 3.9.8
Vcs-Git: https://eloy_garcia_pca@bitbucket.org/eloy_garcia_pca/wallpaperdownloader.git
Vcs-Browser: https://bitbucket.org/eloy_garcia_pca/wallpaperdownloader
Homepage: https://bitbucket.org/eloy_garcia_pca/wallpaperdownloader

Package: wallpaperdownloader
Architecture: all
Depends: ${misc:Depends}, ${maven:Depends}
Suggests: ${maven:OptionalDepends}
Description: Download, manage and change your favorite wallpapers from the Internet
 GUI Java-based application for downloading, managing and setting wallpapers 
 from different sources.
 Select the exact keywords you want to use and find automatically your
 favorite wallpapers searching on different providers simultaneously.
 Use the background changer process to change the default wallpaper and
 set your favorite wallpapers or delete those which you don't want
 anynmore directly from the GUI.
