#!/usr/bin/make -f

JAVA_HOME=/usr/lib/jvm/default-java

%:
	dh $@ --with javahelper

get-orig-source:
	uscan --download-current-version --force-download --no-symlink

override_dh_link:
	dh_link usr/share/maven-repo/es/estoes/wallpaperDownloader/wallpaperDownloader/debian/wallpaperDownloader-debian.jar usr/lib/wallpaperdownloader/wallpaperdownloader.jar
