[Desktop Entry]
Version=3.0
Name=WallpaperDownloader
GenericName=Wallpaper Downloader
Comment=Download and manage wallpapers automatically from the Internet
Keywords=wallpaper;gallery;internet;download;
Exec=/usr/bin/wallpaperdownloader.sh
Icon=/opt/wallpaperdownloader/gui/wallpaperdownloader.png
Terminal=false
Type=Application
Categories=Utility;
