[Desktop Entry]
Version=2.9
Name=WallpaperDownloader
GenericName=Wallpaper Downloader
Comment=Download, manage and set wallpapers automatically from the Internet
Keywords=wallpaper;gallery;internet;download;
Exec=/usr/bin/wallpaperdownloader
Icon=/usr/share/doc/wallpaperdownloader/wallpaperdownloader.svg
Terminal=false
Type=Application
Categories=Utility;
